%ul.items
  - collection.each do |item|
    %li.item
      %h3= item

      .image
        = image_tag item.image.thumb('x130').url

      %ul
        - item.properties.each do |property|
          %li= property

      %p.price
        = "#{item.ceiled_price} руб."

      = semantic_form_for [item.category, item, item.purchases.build] do |form|
        = form.actions do
          = form.action :submit, :label => t('add_to_cart')


