%h1= @item

%div
  = image_tag @item.image.url if @item.image

%ul
  - @item.properties.each do |property|
    %li= property

%div
  = semantic_form_for [@item.category, @item, @purchase] do |form|
    = form.actions

%div
  = link_to 'Back', @item.category
